<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ngmanh321-001-site1.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8005.site4now.net:8172/msdeploy.axd?site=ngmanh321-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>ngmanh321-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>ngmanh321-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QLKHACH_APIConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8001.site4now.net;Initial Catalog=db_a97741_ngmanh321;Persist Security Info=True;User ID=db_a97741_ngmanh321_admin;Password=ngthu321" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=THUNGUYEN\SQLEXPRESS;Initial Catalog=QLKHACH_API;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLKHACH_APIConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=THUNGUYEN\SQLEXPRESS;Initial Catalog=QLKHACH_API;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QLKHACH_APIConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=SQL8001.site4now.net;Initial Catalog=db_a97741_ngmanh321;Persist Security Info=True;User ID=db_a97741_ngmanh321_admin;Password=ngthu321</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>